.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

.imageContainer {
  height: 400px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.quizImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  max-width: 600px;
  margin-bottom: 30px;
}

.buttonContainer {
  height: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}
