.button {
  background-color: var(--primary-color-purple);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 5px 10px 12px;
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;

  & span {
    color: var(--primary-color-black);
    font-weight: 700;
    font-size: 18px;
  }

  & img {
    width: 25px;
  }

  &:hover {
    background-color: var(--accent-color-purple);
  }

  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }
}
