body {
  background-color: var(--primary-color-base);
  color: var(--primary-color-white);
  font-size: 14px;
  position: relative;
}

.app-container {
  outline: 1px solid blue;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  position: absolute;
  top: 40px;
  left: 0;
}

.content {
}
